body {
    background-color: #F4F6F9;
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 'I C A . . . T1 . D'
                         'I . . . P . . . D'
                         'I . E . . . T2 . D';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;104
    border: 1px solid #ddd;
    margin: 8px 0;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


th, td {
    text-align: left;
    padding: .5em;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2
}

.cardUS {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
 
.cardL:hover {
    box-shadow: 0 8px 8px 0 rgba(0,0,0,0.2);
}
.containerL {
    padding: 0em;
}

.containerUS {
    padding: 1em;
}

.D { grid-area: D; }
.I { grid-area: I; }
.A { grid-area: A; }
.E { grid-area: E; }
.P { grid-area: P; }
.T1 { grid-area: T1; }
.T2 { grid-area: T2; }
.C { grid-area: C; 
padding: 0 0 0 0;
margin: 0 0 0 0;

}
