body {
    background-color: #F4F6F9;
    display: grid;
    grid-gap: 1em;
    grid-template-areas: 'I . . . . . . . D'
                         'I . . . . . . . D'
                         'I . A . . . T . D'
                         '. . . . P . T . D'
                         '. . E . . . T . D'
                         '. . . . . . . . D'
                         '. . . . . . . . D';
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
    margin: 8px 0;
}

input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

button {
    border: none;
    padding: 15px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 10em;
    background-color: #49581A;
    color: white;
}

button:disabled {
    background-color: grey;
}

th, td {
    text-align: left;
    padding: .5em;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2
}

.card {
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
.container {
    padding: 1em;
}

.D { grid-area: D; }
.I { grid-area: I; }
.A { grid-area: A; }
.E { grid-area: E; }
.P { grid-area: P; }
.T { grid-area: T; }